@{
    ViewData["Title"] = "Home Page";
}

<div class="content-main" id="content-main">
    <div class="p-3 light lt box-shadow-0 d-flex">
        <div class="flex">
            <h1 class="text-md mb-1 _400">Welcome back, John.</h1><small class="text-muted">Last logged in: 03:00 21, July</small>
        </div>
        <div>
            <small class="text-muted d-block">Status</small>
            <div class="mb-1 peity" data-plugin="peity" data-title="Status" data-option="
	          'bar',
	          {
	            height: 20,
	            width: 60,
	            fill: [app.color.primary]
	          }">56,32,21,16,25,23,42,24,6,10,44,27,34,52,54,59,61,68,78</div>
        </div>
    </div>
    <div class="padding">

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="box list-item">
                    <span class="avatar w-40 text-center rounded primary"><span class="fa fa-dollar"></span></span>
                    <div class="list-body">
                        <h4 class="m-0 text-md"><a href="#">75 <span class="text-sm">Sales</span></a></h4><small class="text-muted">
                            6
                            waiting payment.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="box list-item">
                    <span class="avatar w-40 text-center rounded info theme"><span class="fa fa-female"></span></span>
                    <div class="list-body">
                        <h4 class="m-0 text-md"><a href="#">40 <span class="text-sm">Orders</span></a></h4><small class="text-muted">
                            38
                            Shipped.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="box list-item">
                    <span class="avatar w-40 text-center rounded success"><span class="fa fa-bookmark"></span></span>
                    <div class="list-body">
                        <h4 class="m-0 text-md"><a href="#">6k <span class="text-sm">Members</span></a></h4><small class="text-muted">
                            632
                            VIP.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="box list-item">
                    <span class="avatar w-40 text-center rounded warning"><span class="fa fa-comment"></span></span>
                    <div class="list-body">
                        <h4 class="m-0 text-md"><a href="#">69 <span class="text-sm">Comments</span></a></h4><small class="text-muted">
                            5
                            approved.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <!--   <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <a href="#" class="float-right text-muted text-sm">See detail</a>
                    <h3>Data Forms</h3>
                </div>
                <div class="box-body">
                    <div class="p-1">
                        <small class="text-muted">Google advertise network</small>
                        <div class="progress my-2" style="height:6px">
                            <div class="progress-bar progress-bar-striped progress-bar-animated success"
                                 style="width: 45%"></div>
                        </div>
                    </div>
                    <div class="p-1">
                        <small class="text-muted">Apple app store</small>
                        <div class="progress my-2" style="height:6px">
                            <div class="progress-bar primary" style="width: 25%"></div>
                        </div>
                    </div>
                    <div class="p-1">
                        <small class="text-muted">Flatty inc.</small>
                        <div class="progress my-2" style="height:6px">
                            <div class="progress-bar accent" style="width: 15%"></div>
                        </div>
                    </div>

                    <div class="p-1">
                        <small class="text-muted">Flatty inc.</small>
                        <div class="progress my-2" style="height:6px">
                            <div class="progress-bar primary" style="width: 70%"></div>
                        </div>
                    </div>
                </div>
                <div class="box-footer pt-1">
                    <small class="text-muted">
                        Notice: All promotions started
                        at 21, July
                    </small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <a href="#" class="float-right text-muted text-sm">See detail</a>
                    <h3>Response Channels</h3>
                    <div class="btn-group mt-3" role="group">
                        <button type="button" class="btn btn-xs btn-rounded white">Week</button>
                        <button type="button" class="btn btn-xs btn-rounded white">Month</button>
                    </div>
                </div>
                <div class="box-body pb-4">
                    <div class="row">
                        <div class="col-lg-7"><canvas id="chart-doughnut" data-plugin="chart"></canvas></div>
                        <div class="col-lg-5">
                            <div class="list">
                                <div class="list-item">
                                    <div><i class="badge badge-xs badge-o b-info"></i> 20%</div>
                                    <div class="list-body"><span class="text-muted">Ussd</span></div>
                                </div>
                                <div class="list-item">
                                    <div><i class="badge badge-xs badge-o b-danger"></i> 15.2%</div>
                                    <div class="list-body"><span class="text-muted">Whatsapp</span></div>
                                </div>
                                <div class="list-item">
                                    <div><i class="badge badge-xs badge-o b-warning"></i> 35.5%</div>
                                    <div class="list-body"><span class="text-muted">Mobile App</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer"><small class="text-muted">Tip: All data caculated in real time</small></div>
            </div>
        </div>

    </div>-->

        <div class="row">
            <div class="col-sm-6">
                <div class="box">
                    <div class="box-header">
                        <h3>Unit Members</h3>
                    </div>
                    <div class="list inset">
                        <div class="list-item" data-id="item-12">
                            <span class="w-40 avatar circle green">
                                <i class="off b-white avatar-right"></i> AC
                            </span>
                            <div class="list-body">
                                <a href="#" class="item-title _500">Ashton Cox</a>
                                <div class="item-except text-sm text-muted h-1x">ashton-cox@gmail.com</div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div>
                                <div class="item-action dropdown">
                                    <a href="#" data-toggle="dropdown" class="text-muted">
                                        <i class="fa fa-fw fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right text-color" role="menu">
                                        <a class="dropdown-item"><i class="fa fa-tag"></i>Action</a><a class="dropdown-item">
                                            <i class="fa fa-pencil"></i> Another
                                            action
                                        </a><a class="dropdown-item">
                                            <i class="fa fa-reply"></i>
                                            Something else here
                                        </a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item">
                                            <i class="fa fa-ellipsis-h"></i> Separated link
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-item" data-id="item-9">
                            <span class="w-40 avatar circle cyan">
                                <i class="on b-white avatar-right"></i> PN
                            </span>
                            <div class="list-body">
                                <a href="#" class="item-title _500">Pablo Nouvelle</a>
                                <div class="item-except text-sm text-muted h-1x">pablo-nouvelle@gmail.com</div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div>
                                <div class="item-action dropdown">
                                    <a href="#" data-toggle="dropdown" class="text-muted">
                                        <i class="fa fa-fw fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right text-color" role="menu">
                                        <a class="dropdown-item"><i class="fa fa-tag"></i>Action</a><a class="dropdown-item">
                                            <i class="fa fa-pencil"></i> Another
                                            action
                                        </a><a class="dropdown-item">
                                            <i class="fa fa-reply"></i>
                                            Something else here
                                        </a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item">
                                            <i class="fa fa-ellipsis-h"></i> Separated link
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-item" data-id="item-6">
                            <span class="w-40 avatar circle brown">
                                <i class="on b-white avatar-right"></i> RO
                            </span>
                            <div class="list-body">
                                <a href="#" class="item-title _500">Rita Ora</a>
                                <div class="item-except text-sm text-muted h-1x">rita-ora@gmail.com</div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div>
                                <div class="item-action dropdown">
                                    <a href="#" data-toggle="dropdown" class="text-muted">
                                        <i class="fa fa-fw fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right text-color" role="menu">
                                        <a class="dropdown-item"><i class="fa fa-tag"></i>Action</a><a class="dropdown-item">
                                            <i class="fa fa-pencil"></i> Another
                                            action
                                        </a><a class="dropdown-item">
                                            <i class="fa fa-reply"></i>
                                            Something else here
                                        </a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item">
                                            <i class="fa fa-ellipsis-h"></i> Separated link
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-item" data-id="item-13">
                            <span class="w-40 avatar circle pink">
                                <i class="off b-white avatar-right"></i> AS
                            </span>
                            <div class="list-body">
                                <a href="#" class="item-title _500">Airi Satou</a>
                                <div class="item-except text-sm text-muted h-1x">airi-satou@gmail.com</div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div>
                                <div class="item-action dropdown">
                                    <a href="#" data-toggle="dropdown" class="text-muted">
                                        <i class="fa fa-fw fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right text-color" role="menu">
                                        <a class="dropdown-item"><i class="fa fa-tag"></i>Action</a><a class="dropdown-item">
                                            <i class="fa fa-pencil"></i> Another
                                            action
                                        </a><a class="dropdown-item">
                                            <i class="fa fa-reply"></i>
                                            Something else here
                                        </a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item">
                                            <i class="fa fa-ellipsis-h"></i> Separated link
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-item" data-id="item-8">
                            <span class="w-40 avatar circle teal">
                                <i class="on b-white avatar-right"></i> R
                            </span>
                            <div class="list-body">
                                <a href="#" class="item-title _500">RYD</a>
                                <div class="item-except text-sm text-muted h-1x">ryd@gmail.com</div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div>
                                <div class="item-action dropdown">
                                    <a href="#" data-toggle="dropdown" class="text-muted">
                                        <i class="fa fa-fw fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right text-color" role="menu">
                                        <a class="dropdown-item"><i class="fa fa-tag"></i>Action</a><a class="dropdown-item">
                                            <i class="fa fa-pencil"></i> Another
                                            action
                                        </a><a class="dropdown-item">
                                            <i class="fa fa-reply"></i>
                                            Something else here
                                        </a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item">
                                            <i class="fa fa-ellipsis-h"></i> Separated link
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box">
                    <div class="box-header">
                        <h3>Data Templates</h3>
                    </div>
                    <div class="list inset">
                        <div class="list-item" data-id="item-13">
                            <span class="w-40 avatar circle pink">AS</span>
                            <div class="list-body">
                                <a href="#" class="item-title _500">Airi Satou</a>
                                <div class="item-except text-sm text-muted h-1x">
                                    Looking for some
                                    client-work
                                </div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div><span class="item-date text-xs text-muted">12:30</span></div>
                        </div>
                        <div class="list-item" data-id="item-2">
                            <span class="w-40 avatar circle light-blue">
                                <img src="../assets/images/a2.jpg" alt=".">
                            </span>
                            <div class="list-body">
                                <a href="#" class="item-title _500">Kygo</a>
                                <div class="item-except text-sm text-muted h-1x">
                                    What&#x27s the project
                                    progress now
                                </div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div><span class="item-date text-xs text-muted">08:05</span></div>
                        </div>
                        <div class="list-item" data-id="item-7">
                            <span class="w-40 avatar circle indigo">
                                <img src="../assets/images/a7.jpg" alt=".">
                            </span>
                            <div class="list-body">
                                <a href="#" class="item-title _500">Fifth Harmony</a>
                                <div class="item-except text-sm text-muted h-1x">
                                    Send you a invitation to
                                    SWO
                                </div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div><span class="item-date text-xs text-muted">05:35</span></div>
                        </div>
                        <div class="list-item" data-id="item-3">
                            <span class="w-40 avatar circle green">
                                <img src="../assets/images/a3.jpg" alt=".">
                            </span>
                            <div class="list-body">
                                <a href="#" class="item-title _500">Jeremy Scott</a>
                                <div class="item-except text-sm text-muted h-1x">Submit a support ticket</div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div><span class="item-date text-xs text-muted">09:05</span></div>
                        </div>
                        <div class="list-item" data-id="item-6">
                            <span class="w-40 avatar circle brown">
                                <img src="../assets/images/a6.jpg" alt=".">
                            </span>
                            <div class="list-body">
                                <a href="#" class="item-title _500">Rita Ora</a>
                                <div class="item-except text-sm text-muted h-1x">Homepage mockup design</div>
                                <div class="item-tag tag hide"></div>
                            </div>
                            <div><span class="item-date text-xs text-muted">13:23</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
