
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="content-footer white" id="content-footer">
    <div class="d-flex p-3">
        <span class="text-sm text-muted flex">&copy; Copyright - GoData Analytica</span>
        <div class="text-sm text-muted">Version 1.0</div>
    </div>
</div>
