@model GoData.Portal.Interfaces.IPageViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dashboard - GoData Analytica</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <meta name="mobile-web-app-capable" content="yes">
    <!--<link rel="shortcut icon" sizes="196x196" href="http://flatfull.com/themes/apply/assets/images/logo.svg">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="~/css/app.min.css" rel="stylesheet" />
    <style type="text/css">
    /* Chart.js */
    @@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>
</head>
<body>
    <h1>@Model.PageName</h1>
    <div class="app" id="app">
        <partial name="_SideNavigation"/>
        <div id="content" class="app-content box-shadow-2 box-radius-2" role="main">
            <partial name="_TopNavigation" />
            @RenderBody()
            <partial name="_BottomNavigation" />
        </div>
    </div>
    <script src="~/js/app.min.js"></script>
    <script src="~/js/moment-with-locales.min.js"></script>
    <script src="~/js/Chart.min.js"></script>
    <script src="~/js/jquery.chart.js"></script>
    <script src="~/js/Chartjs.js"></script>
    <script src="~/js/screenfull.js"></script>
</body>
</html>
