<!doctype html>
<html lang="en-US">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico" type="image/ico"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">

    <!-- Custom Css -->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <title>GoData Analytica</title>
</head>

<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">We will get in touch with you</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                    <script>
                        hbspt.forms.create({
                            portalId: "5025090",
                            formId: "e5388ef2-8b37-4ea9-930b-bddb728c7576"
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <!-- N A V B A R -->
    <nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon ion-md-menu"></span>
        </button>
        <img src="images/logo.png" class="img-fluid nav-logo-mobile" alt="Company Logo">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="container">
                <img src="images/logo.png" class="img-fluid nav-logo-desktop" alt="Company Logo">
                <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                    <li class="nav-item nav-custom-link">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
                    </li>
                    <li class="nav-item nav-custom-link">
                        <a class="nav-link" href="#usecases">Use Cases <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
                    </li>
                    <li class="nav-item nav-custom-link">
                        <a class="nav-link" href="#insights">Insights <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
                    </li>
                    <li class="nav-item nav-custom-link">
                        <a class="nav-link" href="#channels">Collection Channels <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
                    </li>
                    <li class="nav-item nav-custom-link btn btn-demo-small">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">Get in Touch</a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- E N D  N A V B A R -->
    @RenderBody()
    <!--  F O O T E R  -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/logo-white.png" />
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                    <h5>Company</h5>
                    <p>
                        Godataa Analytica is a Data Collection collection company operating from Nigeria. We are currently building the largest
                        agent network, providing access to even its most remote areas
                    </p>
                    <p><a href="mailto:inquiry@godataa.com" class="external-links">inquiry@godataa.com</a></p>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a href="#"><i class="icon ion-logo-facebook"></i></a>
                    <a href="#"><i class="icon ion-logo-instagram"></i></a>
                    <a href="#"><i class="icon ion-logo-twitter"></i></a>
                    <a href="#"><i class="icon ion-logo-youtube"></i></a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <small>2018 &copy; All rights reserved. GoData Analytica</small>
                </div>
            </div>
        </div>
    </footer>

    <!--  E N D  F O O T E R  -->
    <!-- External JavaScripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5025090.js"></script>
    <!-- End of HubSpot Embed Code -->
</body>

</html>