  <!-- H E R O -->
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <img src="images/hero.png" class="img-fluid" alt="Demo image">
            </div>
            <div class="col-md-7 content-box hero-content">
                <span>The Only Way to Get Reliable Data</span>
                <h1>"If we have data, let’s look at data.<b>If all we have are opinions, let’s go with mine."</b></h1>
                <p>– Jim Barksdale, former Netscape CEO</p>
                <button type="button" class="btn btn-regular" data-toggle="modal" data-target="#exampleModal">
                    Request a Demo
                </button>
            </div>
        </div>
    </div>
</section>
<!-- E N D  H E R O -->
<!-- P R I C I N G -->
<section id="usecases">
    <div class="container">
        <div class="title-block">
            <h2>Use Cases</h2>
            <p>Collect data, feedback and opinions using a non-invasive, consensual, convenient and straight-forward approach.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img src="images/hero.png" class="img-fluid" alt="Demo image">
                <div class="title-block">
                    <h4>Customer Feedback</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img src="images/poll.png" class="img-fluid" alt="Demo image">
                <div class="title-block">
                    <h4>Polls</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img src="images/vote.png" class="img-fluid" alt="Demo image">
                <div class="title-block">
                    <h4>Intra Voting</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- E N D  P R I C I N G -->
<!-- E N D  M A R K E T I N G -->

<section id="insights">
    <div class="container">
        <div class="title-block">
            <br />
            <br />
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="content-box">
                    <span>DATA DRIVEN DECISIONS</span>
                    <h2>Clear Insights</h2>
                    <p>Grow your Business or Make Decisions backed by Data. There's no guessing your way to Success.</p>
                    <button type="button" class="btn btn-regular" data-toggle="modal" data-target="#exampleModal">
                        Request a Demo
                    </button>
                </div>
            </div>
            <div class="col-md-7">
                <img src="~/images/insight.png" class="img-fluid" alt="Demo image">
            </div>
        </div>
    </div>
</section>
<!-- E N D  M A R K E T I N G -->
<!-- T E S T I M O N I A L S -->
<section id="channels">
    <div class="container">
        <div class="title-block">
            <h2>Collection Channels</h2>
            <p>Our Mobile first approach to data collection guarantees a 99% response rate from your target audience</p>
            <br/>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/mobile.png" class="img-fluid" alt="Demo image">
            </div>
            <div class="col-md-6">
                <div class="content-box">
                    <span><b>USSD | WHATSAPP | FIELD AGENTS</b></span>
                    <hr />
                    <p>
                        We provide a mix of mobile technologies to get your queries to your target audience. USSD provides a fast and convenient way to transfer data,
                        available to all devices
                    </p>
                    <hr />
                    <p>For some people, the Internet is Whatsapp. Use our Whatsapp Bots to get realtime responses from over 1 billion Whatsapp users</p>
                    <hr />
                    <p>
                        We are building a network of over 100,000 agents across Africa. Collect data from even the most remote parts of
                        the internet using our mobile apps and field agent network
                    </p>
                    <hr />
                    <p>Already using Twitter, Facebook or Instagram Polls? Aggregate your data on our platform, Get realtime analysis</p>

                    <button type="button" class="btn btn-regular" data-toggle="modal" data-target="#exampleModal">
                        Request a Demo
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- E N D  T E S T I M O N I A L S -->
<!-- C A L L  T O  A C T I O N -->
<section id="call-to-action">
    <div class="container text-center">
        <h2>Customers are always right</h2>
        <div class="title-block">
            <p>With the right data, you can be about them too.</p>
            <button type="button" class="btn btn-regular" data-toggle="modal" data-target="#exampleModal">
                Get Started
            </button>
        </div>
    </div>
</section>
<!-- E N D  C A L L  T O  A C T I O N -->